body {text-align: center; color: #800000; font-family: Verdana;}
footer {background-color: black; padding:10px; color: white;}
.jumbotron {background-color: black; color: white; font-family: Great Vibes;}
.lower {font-family: Tangerine;}
.redrow {background-color: black; color: white; font-family: Arial;}
